{% extends 'base.html' %}

{% block header %}
{% include 'header.html' with company=company %}
{% endblock %}
{% block main %}




<div class="container mb-4">
    <h3 class="mt-3 text-center text-success">গ্রাহক সংযোজন</h3>
    <hr>
    <section class="shadow bg-light rounded border p-3">
        <form id="add-customers" action="" method="post">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="area">এরিয়া</label>

                    <select class="form-control" id="area" name="area" required>
                        <option value="">এলাকা নির্বাচন করুন</option>
                        {% for area in area_list %}
                        <option value="{{ area.id }}"> {{ area.name }} </option>
                        {% endfor %}
                    </select>
                    
                </div>
                <div class="col-sm-3 form-group">
                    <label for="id">আইডি</label>
                    <input type="number" class="form-control" name="id" id="id" required>
    
                </div>
                <div class="col-sm form-group">
                    <label for="name">নাম</label>
                    <input type="text" id="name" class="form-control" name="name" required>
    
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="fatherName">পিতার নাম</label>
                    <input type="text" class="form-control" id="fatherName" name="fatherName">
    
                </div>
                <div class="col-sm form-group">
                    <label for="address">ঠিকানা</label>
                    <input type="text" id="address" class="form-control" name="address" required>
    
                </div>
            </div>
            <div class="row">
                <div class="col-sm form-group">
                    <label for="connectionAt">সংযোগের তারিখ</label>
                    <input type="text" id="connectionAt" class="form-control" name="connectionAt" placeholder="dd/mm/yyyy" readonly>
                </div>
                <div class="col-sm form-group">
                    <label for="mobileNumber">মোবাইল নাম্বার</label>
                    <input type="text" class="form-control" id="mobileNumber" placeholder="018" name="mobileNumber">
                    
                </div>
                <div class="col-sm form-group">
                    <label for="nidNumber">জাতীয় পরিচয়পত্র নাম্বার</label>
                    <input type="number" class="form-control" id="nidNumber" name="nidNumber">
                 
                </div>
            </div>
            <div class="row">
                <div class="col-sm form-group">
                    <label for="occupation">পেশা</label>
                    <input type="text" class="form-control" id="occupation" name="occupation">
                   
                </div>
                <div class="col-sm form-group">
                    <label for="connectionFee">সংযোগ ফি</label>
                    <input type="number" id="connectionFee" class="form-control" name="connectionFee">
                    
                </div>
                <div class="col-sm form-group">
                    <label for="tv">টিভি</label>
                    <select id="tv" class="form-control" name="tv">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    
                </div>
                <div class="col-sm form-group">
                    <label for="monthlyCharge">মাসিক বিল</label>
                    <input type="number" value="200" class="form-control" id="monthlyCharge" name="mmonthlyCharge" required>
                   
                </div>
                {% comment %} <div class="col-sm form-group">
                    <label for="permanentDiscount">ডিসকাউন্ট</label>
                    <input value="0" type="number" class="form-control" id="permanentDiscount" name="permanentDiscount">
                </div> {% endcomment %}
            </div>
            <button class="btn btn-primary" type="submit" name="add">যুক্ত করুন</button>
            <!-- <button class="btn btn-info" type="submit" name="update">Update</button> -->
            <!-- <button id="delete" class="btn btn-danger" type="submit">Delete</button> -->
        </form>
    </section>
    <!--END Customer Modal-->
    
    <div id="alertDiv"></div>
</div>

<section>
    <table class="table table-sm table-bordered table-striped table-hover">
        <thead>
          <th>আইডি</th>
          <th>নাম</th>
          <!-- <th>পিতা</th> -->
          <th>ঠিকানা</th>
          <th>এলাকা</th>
          <!-- <th>সংযোগের তারিখ</th> -->
          <th>মোবাইল</th>
          <!-- <th>জাতীয় পরিচয়পত্র</th> -->
          <!-- <th>পেশা</th> -->
          <!-- <th>সংযোগ ফি</th> -->
          <th>মাসিক বিল</th>
        </thead>
        <tbody>
    
          {% for customer in customers_list %}
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <!-- <td>{{ customer.fatherName }}</td> -->
            <td>{{ customer.address }}</td>
            <td>{{ customer.area.name }}</td>
            <!-- <td>{{ customer.connectionAt }}</td> -->
            <td>{{ customer.mobileNumber }}</td>
            <!-- <td>{{ customer.nidNumber }}</td> -->
            <!-- <td>{{ customer.occupation }}</td> -->
            <!-- <td>{{ customer.connectionFee }}</td> -->
            <td>{{ customer.monthlyCharge }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</section>




{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
