{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}
<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Manangement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="alertDiv"></div>
        <form id="add-customers" action="" method="post">
          <div class="row">
            <div class="col-sm-3 form-group">
              <label for="area">এরিয়া</label>

              <select class="form-control" id="area" name="area" required>
                <option value="">এলাকা নির্বাচন করুন</option>
                {% for area in area_list %}
                <option value="{{ area.id }}"> {{ area.name }} </option>
                {% endfor %}
              </select>

            </div>
            <div class="col-sm-3 form-group">
              <label for="id">আইডি</label>
              <input type="number" class="form-control" name="id" id="id" required>
            </div>
            <div class="col-sm form-group">
              <label for="name">নাম</label>
              <input type="text" id="name" class="form-control" name="name" required>

            </div>

          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label for="fatherName">পিতার নাম</label>
              <input type="text" class="form-control" id="fatherName" name="fatherName">

            </div>
            <div class="col-sm form-group">
              <label for="address">ঠিকানা</label>
              <input type="text" id="address" class="form-control" name="address" required>

            </div>
          </div>
          <div class="row">
            <div class="col-sm form-group">
              <label for="connectionAt">সংযোগের তারিখ</label>
              <input type="text" id="connectionAt" class="form-control" name="connectionAt" placeholder="dd/mm/yyyy"
                readonly>
            </div>
            <div class="col-sm form-group">
              <label for="mobileNumber">মোবাইল নাম্বার</label>
              <input type="text" class="form-control" id="mobileNumber" placeholder="018" name="mobileNumber">

            </div>
            <div class="col-sm form-group">
              <label for="nidNumber">জাতীয় পরিচয়পত্র নাম্বার</label>
              <input type="number" class="form-control" id="nidNumber" name="nidNumber">

            </div>
          </div>
          <div class="row">
            <div class="col-sm form-group">
              <label for="occupation">পেশা</label>
              <input type="text" class="form-control" id="occupation" name="occupation">

            </div>
            <div class="col-sm form-group">
              <label for="connectionFee">সংযোগ ফি</label>
              <input type="number" id="connectionFee" class="form-control" name="connectionFee">

            </div>
            <div class="col-sm form-group">
              <label for="tv">টিভি</label>
              <select id="tv" class="form-control" name="tv">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>

            </div>
            <div class="col-sm form-group">
              <label for="monthlyCharge">মাসিক বিল</label>
              <input type="number" value="200" class="form-control" id="monthlyCharge" name="mmonthlyCharge" required>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">বাতিল</button>
            <button class="btn btn-primary" id='customer-add-submit' type="submit" name="add">যুক্ত করুন</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Customer Modal-->


<!--Start Delete Modal -->
<div id="delete-modal" class="modal fade">
</div>
<!--END Delete Modal-->

<!--Start Inactive/active Modal -->
<div id="inactive-modal" class="modal fade">
</div>
<!--END Inactive/active Modal-->



<!--START Bill Updater Modal-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="bill-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
</div>
<!--END Bill Updater Modal-->



<section class="mt-5 container-fluid">
  <a href="{% url 'add_customers' %}" class="btn btn-info text-center mb-3 d-block justify-content-center">নতুন গ্রাহক
    যুক্ত করুন</a>
  <!-- <div class="table-responsive"> -->
  <table width="100%" id='customer_table_id' class="table table-sm table-bordered table-striped table-hover">
    <thead class='text-center'>
      <th>আইডি</th>
      <th>নাম</th>
      <th>ঠিকানা</th>
      <th>এলাকা</th>
      <th>মোবাইল</th>
      <th class='text-nowrap'>মাসিক বিল</th>
      <th></th>
    </thead>
    <tbody>

      {% for customer in customers_list %}
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.area.name }}</td>
        <td>{{ customer.mobileNumber }}</td>
        <td>{{ customer.monthlyCharge }}</td>
        <td class='d-flex flex-nowrap'>
          {% if user.is_collector %}
          <a href='/single_report/?id={{ customer.id }}' class='btn btn-sm  btn-info mx-1'> <i class="fa fa-info"></i>
          </a>
          {% else %}

          
          {% if customer.isActive %}
          <button data-id='{{ customer.id }}' data-isactive="active" 
            class='inactive-btn btn btn-sm btn-success mx-2'><i class="fa fa-times"></i></button>
          {% else %}
          <button data-id='{{ customer.id }}' data-isactive="inactive"
            class='inactive-btn btn btn-sm btn-danger mx-2'><i class="fa fa-check"></i></button>
          {% endif %}


          <button data-id={{ customer.id }} class='update-btn btn btn-sm btn-primary mx-1'><i
              class="fa fa-edit"></i></button>



          <button data-id={{ customer.id }} class='bill-update-btn btn btn-sm btn-primary mx-1'><i
              class="fa fa-calculator"></i></button>



          <a href='/single_report/?id={{ customer.id }}' class='btn btn-sm  btn-info mx-1'> <i class="fa fa-info"></i>
          </a>


          {% if user.is_superuser %}
          <button data-id={{ customer.id }} class='delete-btn btn btn-sm btn-danger'><i
              class="fa fa-trash"></i></button>
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}