{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block main %}
<div class="container m-4 mx-auto p-3">
    <section class= 'bg-light shadow border rounded p-3'>
        <h3> সেটিংস </h3><hr/>
        <div>
            <h6>এলাকা সমূহ</h6><hr/>
            <ul class="nav">
            {% for area in area_list %}
                <li class='nav-item px-3 m-2 bg-success text-light rounded shadow'>{{ area.name }}</li>
            {% endfor %}
            </ul>


            <form method='POST' action="{% url 'settings' %}" class="form-inline px-1">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name='area_name' class="form-control" placeholder="এলাকার নাম লিখুন" required>
                    <div class="input-group-append">
                        <button class="input-group-text"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}